.notification {
  color: green;
  background: lightgrey;
  font-size: 40px;
  border: 4px solid green;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 40px;
  border: 4px solid red;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}
